!config.m4
!example
!php_pni.h
!pni.c  
!README.md  
!README-zh.md  
!tests
!doc

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
